In [72]:
import pandas as pd
import numpy as np

df = pd.read_csv('books.csv.csv')
df

,Title,Author,Genre,SubGenre,Height,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin
...,...,...,...,...,...,...
206,Structure and Randomness,"Tao, Terence",science,mathematics,252,NaN
207,Image Processing with MATLAB,"Eddins, Steve",tech,signal_processing,241,NaN
208,Animal Farm,"Orwell, George",fiction,classic,180,NaN
209,"Idiot, The","Dostoevsky, Fyodor",fiction,classic,197,NaN
210,"Christmas Carol, A","Dickens, Charles",fiction,classic,196,NaN

In [73]:
df["Number of vowels"] = df["Author"].str.split(", ", expand= True)[1].str.count(r'[AEIOUaeiou]').fillna(0)
df.head(5)

,Title,Author,Genre,SubGenre,Height,Publisher,Number of vowels
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley,4.0
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley,1.0
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin,2.0
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins,2.0
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin,2.0

In [74]:
df[df["Author"].str.split(", ", expand= True)[0].str.contains(r'[AEIOUaeiou]{3}', na=False)]

,Title,Author,Genre,SubGenre,Height,Publisher,Number of vowels
75,"Social Choice & Welfare, Vol 39 No. 1",Various,tech,economics,235,Springer,0.0

In [75]:
df[df['Title'].str.contains(r'\b\w{1}\b').fillna(0)]

,Title,Author,Genre,SubGenre,Height,Publisher,Number of vowels
7,"Drunkard's Walk, The","Mlodinow, Leonard",science,mathematics,197,Penguin,3.0
12,Birth of a Theorem,"Villani, Cedric",science,mathematics,234,Bodley Head,2.0
21,"Analysis, Vol I","Tao, Terence",tech,mathematics,248,HBA,3.0
28,"Complete Sherlock Holmes, The - Vol I","Doyle, Arthur Conan",fiction,classic,176,Random House,4.0
35,"Farewell to Arms, A","Hemingway, Ernest",fiction,classic,179,Rupa,2.0
41,"Russian Journal, A","Steinbeck, John",nonfiction,history,196,Penguin,1.0
47,Journal of a Novel,"Steinbeck, John",fiction,classic,196,Penguin,1.0
48,Once There Was a War,"Steinbeck, John",nonfiction,history,196,Penguin,1.0
51,In a Free State,"Naipaul, V. S.",fiction,novel,196,Rupa,0.0
59,Data Structures Using C & C++,"Tanenbaum, Andrew",tech,computer_science,235,Prentice Hall,2.0
60,"Computer Vision, A Modern Approach","Forsyth, David",tech,signal_processing,255,Pearson,2.0
62,Let Us C,"Kanetkar, Yashwant",tech,computer_science,213,Prentice Hall,2.0
69,"Raisin in the Sun, A","Hansberry, Lorraine",fiction,novel,175,Penguin,4.0
70,All the President's Men,"Woodward, Bob",nonfiction,history,177,Random House,1.0
71,"Prisoner of Birth, A","Archer, Jeffery",fiction,novel,176,Pan,2.0
75,"Social Choice & Welfare, Vol 39 No. 1",Various,tech,economics,235,Springer,0.0
79,Maqta-e-Ghalib,"Garg, Sanjay",nonfiction,poetry,221,Mauj,2.0
83,"World's Greatest Trials, The",NaN,nonfiction,history,210,NaN,0.0
85,O Jerusalem!,"Lapierre, Dominique",nonfiction,history,217,vikas,5.0
103,"World's Greatest Short Stories, The",NaN,fiction,classic,217,Jaico,0.0
105,"Maugham's Collected Short Stories, Vol 3","Maugham, William S",fiction,classic,171,Vintage,3.0
120,Half A Life,"Naipaul, V S",fiction,novel,196,NaN,0.0
130,"Short History of the World, A","Wells, H G",nonfiction,history,197,NaN,0.0
131,"Trembling of a Leaf, The","Maugham, William S",fiction,novel,205,NaN,3.0
144,Superman Earth One - 1,NaN,fiction,comic,259,NaN,0.0
145,Superman Earth One - 2,NaN,fiction,comic,258,NaN,0.0
147,Justice League: The Villain's Journey,NaN,fiction,comic,258,NaN,0.0
151,"Life in Letters, A","Steinbeck, John",nonfiction,autobiography,196,NaN,1.0
153,"Journal of Economics, vol 106 No 3",NaN,science,economics,235,NaN,0.0
164,Empire of the Mughal - The Serpent's Tooth,"Rutherford, Alex",nonfiction,history,180,NaN,2.0
172,Pointers in C,"Kanetkar, Yashwant",tech,computer_science,213,NaN,2.0
176,"Devil's Advocate, The","West, Morris",fiction,novel,178,NaN,2.0
179,"World's Great Thinkers, The",NaN,science,physics,189,NaN,0.0
181,Broca's Brain,"Sagan, Carl",science,physics,174,NaN,1.0
192,India's Legal System,Nariman,nonfiction,legal,177,NaN,0.0
202,Girl who kicked the Hornet's Nest,"Larsson, Steig",fiction,novel,179,NaN,2.0
205,Murphy's Law,NaN,philosophy,psychology,178,NaN,0.0
210,"Christmas Carol, A","Dickens, Charles",fiction,classic,196,NaN,2.0

In [76]:
df['Contains digits'] = df.apply(lambda x: 1 if any(map(str.isdigit, x['Title'])) else 0, axis=1)
df[df['Title'].str.contains(r'[0-9]').fillna(0)]

,Title,Author,Genre,SubGenre,Height,Publisher,Number of vowels,Contains digits
52,Catch 22,"Heller, Joseph",fiction,classic,178,Random House,2.0,1
75,"Social Choice & Welfare, Vol 39 No. 1",Various,tech,economics,235,Springer,0.0,1
105,"Maugham's Collected Short Stories, Vol 3","Maugham, William S",fiction,classic,171,Vintage,3.0,1
143,"Numbers Behind Numb3rs, The","Devlin, Keith",science,mathematics,202,NaN,2.0,1
144,Superman Earth One - 1,NaN,fiction,comic,259,NaN,0.0,1
145,Superman Earth One - 2,NaN,fiction,comic,258,NaN,0.0,1
153,"Journal of Economics, vol 106 No 3",NaN,science,economics,235,NaN,0.0,1
168,20000 Leagues Under the Sea,"Verne, Jules",fiction,novel,190,NaN,2.0,1

In [77]:
df['Last word'] = df.apply(lambda x: x['Title'].split(" ")[len(x["Title"].split(" "))-1], axis=1)
df.head(5)

,Title,Author,Genre,SubGenre,Height,Publisher,Number of vowels,Contains digits,Last word
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley,4.0,0,Wavelets
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley,1.0,0,Smart
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin,2.0,0,Integers
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins,2.0,0,Superfreakonomics
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin,2.0,0,Orientalism

In [78]:
df[df['Publisher'].str.count(r"[ ]")==1]

,Title,Author,Genre,SubGenre,Height,Publisher,Number of vowels,Contains digits,Last word
6,Integration of the Indian States,"Menon, V P",nonfiction,history,217,Orient Blackswan,0.0,0,States
11,Slaughterhouse Five,"Vonnegut, Kurt",fiction,classic,198,Random House,1.0,0,Five
12,Birth of a Theorem,"Villani, Cedric",science,mathematics,234,Bodley Head,2.0,0,Theorem
13,Structure & Interpretation of Computer Programs,"Sussman, Gerald",tech,computer_science,240,MIT Press,2.0,0,Programs
15,"Trial, The","Kafka, Frank",fiction,classic,198,Random House,1.0,0,The
16,Statistical Decision Theory',"Pratt, John",tech,data_science,236,MIT Press,1.0,0,Theory'
25,Introduction to Algorithms,"Cormen, Thomas",tech,computer_science,234,MIT Press,2.0,0,Algorithms
28,"Complete Sherlock Holmes, The - Vol I","Doyle, Arthur Conan",fiction,classic,176,Random House,4.0,0,I
29,"Complete Sherlock Holmes, The - Vol II","Doyle, Arthur Conan",fiction,classic,176,Random House,4.0,0,II
30,"Wealth of Nations, The","Smith, Adam",science,economics,175,Random House,2.0,0,The
31,"Pillars of the Earth, The","Follett, Ken",fiction,novel,176,Random House,1.0,0,The
34,Surely You're Joking Mr Feynman,"Feynman, Richard",science,physics,198,Random House,2.0,0,Feynman
40,Jurassic Park,"Crichton, Michael",fiction,novel,174,Random House,3.0,0,Park
50,"Brethren, The","Grisham, John",fiction,novel,174,Random House,1.0,0,The
52,Catch 22,"Heller, Joseph",fiction,classic,178,Random House,2.0,1,22
54,Dylan on Dylan,"Dylan, Bob",nonfiction,autobiography,197,Random House,1.0,0,Dylan
59,Data Structures Using C & C++,"Tanenbaum, Andrew",tech,computer_science,235,Prentice Hall,2.0,0,C++
62,Let Us C,"Kanetkar, Yashwant",tech,computer_science,213,Prentice Hall,2.0,0,C
63,"Amulet of Samarkand, The","Stroud, Jonathan",fiction,novel,179,Random House,3.0,0,The
65,Angels & Demons,"Brown, Dan",fiction,novel,178,Random House,1.0,0,Demons
70,All the President's Men,"Woodward, Bob",nonfiction,history,177,Random House,1.0,0,Men
96,"Hunchback of Notre Dame, The","Hugo, Victor",fiction,classic,175,Random House,2.0,0,The
98,"Age of Discontuinity, The","Drucker, Peter",nonfiction,economics,178,Random House,2.0,0,The
102,Beyond the Three Seas,"Dalrymple, William",nonfiction,history,197,Random House,3.0,0,Seas

In [79]:
df[df["Author"].str.split(", ", expand= True)[0].str.match(r'..[y].*',na=False)]

,Title,Author,Genre,SubGenre,Height,Publisher,Number of vowels,Contains digits,Last word
28,"Complete Sherlock Holmes, The - Vol I","Doyle, Arthur Conan",fiction,classic,176,Random House,4.0,0,I
29,"Complete Sherlock Holmes, The - Vol II","Doyle, Arthur Conan",fiction,classic,176,Random House,4.0,0,II
34,Surely You're Joking Mr Feynman,"Feynman, Richard",science,physics,198,Random House,2.0,0,Feynman
72,Scoop!,"Nayar, Kuldip",nonfiction,history,216,HarperCollins,2.0,0,Scoop!
157,Neural Networks,"Haykin, Simon",tech,data_science,240,NaN,2.0,0,Networks
173,"Cathedral and the Bazaar, The","Raymond, Eric",tech,computer_science,217,NaN,2.0,0,The

In [80]:
#Variant1
df['Number of  words'] = df.apply(lambda x: len(x['Title'].split(" ")), axis=1)
df

,Title,Author,Genre,SubGenre,Height,Publisher,Number of vowels,Contains digits,Last word,Number of words
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley,4.0,0,Wavelets,3
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley,1.0,0,Smart,2
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin,2.0,0,Integers,4
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins,2.0,0,Superfreakonomics,1
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin,2.0,0,Orientalism,1
...,...,...,...,...,...,...,...,...,...,...
206,Structure and Randomness,"Tao, Terence",science,mathematics,252,NaN,3.0,0,Randomness,3
207,Image Processing with MATLAB,"Eddins, Steve",tech,signal_processing,241,NaN,2.0,0,MATLAB,4
208,Animal Farm,"Orwell, George",fiction,classic,180,NaN,3.0,0,Farm,2
209,"Idiot, The","Dostoevsky, Fyodor",fiction,classic,197,NaN,2.0,0,The,2
210,"Christmas Carol, A","Dickens, Charles",fiction,classic,196,NaN,2.0,0,A,3

In [104]:
df[df['Number of  words']==df['Number of  words'].max()]

,Title,Author,Genre,SubGenre,Height,Publisher,Number of vowels,Contains digits,Last word,Number of words
115,Clash of Civilizations and Remaking of the Wor...,"Huntington, Samuel",nonfiction,history,228,Simon&Schuster,3.0,0,Order,9
163,Empire of the Mughal - Ruler of the World,"Rutherford, Alex",nonfiction,history,180,NaN,2.0,0,World,9
165,Empire of the Mughal - Raiders from the North,"Rutherford, Alex",nonfiction,history,180,NaN,2.0,0,North,9

In [112]:
set(df[df['Number of  words']==df['Number of  words'].max()]['Author'].str.split(", ",expand= True)[0].values.tolist())

{'Huntington', 'Rutherford'}

In [113]:
df[df["Author"].str.split(", ", expand= True)[1].str.contains(r'[b-df-hj-np-tv-z]{3}', na=False)]

,Title,Author,Genre,SubGenre,Height,Publisher,Number of vowels,Contains digits,Last word,Number of words
20,Making Software,"Oram, Andy",tech,computer_science,232,O'Reilly,1.0,0,Software,2
26,"Beautiful and the Damned, The","Deb, Siddhartha",nonfiction,history,198,Penguin,3.0,0,The,5
28,"Complete Sherlock Holmes, The - Vol I","Doyle, Arthur Conan",fiction,classic,176,Random House,4.0,0,I,7
29,"Complete Sherlock Holmes, The - Vol II","Doyle, Arthur Conan",fiction,classic,176,Random House,4.0,0,II,7
38,"Last Lecture, The","Pausch, Randy",nonfiction,autobiography,197,Hyperion,1.0,0,The,3
56,Textbook of Economic Theory,"Stonier, Alfred",tech,economics,242,Pearson,2.0,0,Theory,4
59,Data Structures Using C & C++,"Tanenbaum, Andrew",tech,computer_science,235,Prentice Hall,2.0,0,C++,6
62,Let Us C,"Kanetkar, Yashwant",tech,computer_science,213,Prentice Hall,2.0,0,C,3
66,"Argumentative Indian, The","Sen, Amartya",nonfiction,history,209,Picador,3.0,0,The,3
68,"Idea of Justice, The","Sen, Amartya",philosophy,economics,212,Penguin,3.0,0,The,4
89,On Education,"Russell, Bertrand",philosophy,education,203,Routledge,2.0,0,Education,2
101,Identity & Violence,"Sen, Amartya",philosophy,philosophy,219,Penguin,3.0,0,Violence,3
112,History of Western Philosophy,"Russell, Bertrand",philosophy,philosophy,213,Routledge,2.0,0,Philosophy,4
114,Rationality & Freedom,"Sen, Amartya",science,economics,213,Springer,3.0,0,Freedom,3
123,Unpopular Essays,"Russell, Bertrand",philosophy,philosophy,198,NaN,2.0,0,Essays,2
172,Pointers in C,"Kanetkar, Yashwant",tech,computer_science,213,NaN,2.0,0,C,3
184,"Justice, Judiciary and Democracy","Ranjan, Sudhanshu",nonfiction,legal,224,NaN,3.0,0,Democracy,4

In [114]:
df[df["Author"].str.split(", ", expand= True)[1].str.contains(r'[A].*', na=False)]

,Title,Author,Genre,SubGenre,Height,Publisher,Number of vowels,Contains digits,Last word,Number of words
14,"Age of Wrath, The","Eraly, Abraham",nonfiction,history,238,Penguin,3.0,0,The,4
20,Making Software,"Oram, Andy",tech,computer_science,232,O'Reilly,1.0,0,Software,2
27,"Outsider, The","Camus, Albert",fiction,classic,198,Penguin,2.0,0,The,2
28,"Complete Sherlock Holmes, The - Vol I","Doyle, Arthur Conan",fiction,classic,176,Random House,4.0,0,I,7
29,"Complete Sherlock Holmes, The - Vol II","Doyle, Arthur Conan",fiction,classic,176,Random House,4.0,0,II,7
30,"Wealth of Nations, The","Smith, Adam",science,economics,175,Random House,2.0,0,The,4
32,Mein Kampf,"Hitler, Adolf",nonfiction,autobiography,212,Rupa,2.0,0,Kampf,2
39,Return of the Primitive,"Rand, Ayn",philosophy,objectivism,202,Penguin,1.0,0,Primitive,4
42,Tales of Mystery and Imagination,"Poe, Edgar Allen",fiction,classic,172,HarperCollins,4.0,0,Imagination,5
56,Textbook of Economic Theory,"Stonier, Alfred",tech,economics,242,Pearson,2.0,0,Theory,4
59,Data Structures Using C & C++,"Tanenbaum, Andrew",tech,computer_science,235,Prentice Hall,2.0,0,C++,6
66,"Argumentative Indian, The","Sen, Amartya",nonfiction,history,209,Picador,3.0,0,The,3
67,Sea of Poppies,"Ghosh, Amitav",fiction,novel,197,Penguin,3.0,0,Poppies,3
68,"Idea of Justice, The","Sen, Amartya",philosophy,economics,212,Penguin,3.0,0,The,4
101,Identity & Violence,"Sen, Amartya",philosophy,philosophy,219,Penguin,3.0,0,Violence,3
110,We the Living,"Rand, Ayn",fiction,novel,178,Penguin,1.0,0,Living,3
111,"Artist and the Mathematician, The","Aczel, Amir",science,mathematics,186,HighStakes,2.0,0,The,5
114,Rationality & Freedom,"Sen, Amartya",science,economics,213,Springer,3.0,0,Freedom,3
161,Empire of the Mughal - The Tainted Throne,"Rutherford, Alex",nonfiction,history,180,NaN,2.0,0,Throne,8
162,Empire of the Mughal - Brothers at War,"Rutherford, Alex",nonfiction,history,180,NaN,2.0,0,War,8
163,Empire of the Mughal - Ruler of the World,"Rutherford, Alex",nonfiction,history,180,NaN,2.0,0,World,9
164,Empire of the Mughal - The Serpent's Tooth,"Rutherford, Alex",nonfiction,history,180,NaN,2.0,0,Tooth,8
165,Empire of the Mughal - Raiders from the North,"Rutherford, Alex",nonfiction,history,180,NaN,2.0,0,North,9
175,Think Complexity,"Downey, Allen",tech,data_science,230,NaN,2.0,0,Complexity,2
177,Ayn Rand Answers,"Rand, Ayn",philosophy,objectivism,203,NaN,1.0,0,Answers,3
178,Philosophy: Who Needs It,"Rand, Ayn",philosophy,objectivism,171,NaN,1.0,0,It,4
199,Eyeless in Gaza,"Huxley, Aldous",fiction,novel,180,NaN,3.0,0,Gaza,3

In [115]:
new_df = df[df['Title'].str.contains(r'[0-9]').fillna(0)]
new_df

,Title,Author,Genre,SubGenre,Height,Publisher,Number of vowels,Contains digits,Last word,Number of words
52,Catch 22,"Heller, Joseph",fiction,classic,178,Random House,2.0,1,22,2
75,"Social Choice & Welfare, Vol 39 No. 1",Various,tech,economics,235,Springer,0.0,1,1,8
105,"Maugham's Collected Short Stories, Vol 3","Maugham, William S",fiction,classic,171,Vintage,3.0,1,3,6
143,"Numbers Behind Numb3rs, The","Devlin, Keith",science,mathematics,202,NaN,2.0,1,The,4
144,Superman Earth One - 1,NaN,fiction,comic,259,NaN,0.0,1,1,5
145,Superman Earth One - 2,NaN,fiction,comic,258,NaN,0.0,1,2,5
153,"Journal of Economics, vol 106 No 3",NaN,science,economics,235,NaN,0.0,1,3,7
168,20000 Leagues Under the Sea,"Verne, Jules",fiction,novel,190,NaN,2.0,1,Sea,5

In [ ]:
df.apply(lambda x: x['Title'].split(" ")[len(x["Title"].split(" "))[1]], axis=1)

In [130]:
df[df["Title"].str.split(" ",expand= True)[1].str.match(r'[C].*',na=False)]

,Title,Author,Genre,SubGenre,Height,Publisher,Number of vowels,Contains digits,Last word,Number of words
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin,2.0,0,Integers,4
44,"Hidden Connections, The","Capra, Fritjof",science,physics,197,HarperCollins,2.0,0,The,3
55,Soft Computing & Intelligent Systems,"Gupta, Madan",tech,data_science,242,Elsevier,2.0,0,Systems,5
75,"Social Choice & Welfare, Vol 39 No. 1",Various,tech,economics,235,Springer,0.0,1,1,8
105,"Maugham's Collected Short Stories, Vol 3","Maugham, William S",fiction,classic,171,Vintage,3.0,1,3,6
134,Pattern Classification,"Duda, Hart",tech,data_science,241,NaN,1.0,0,Classification,2
138,Final Crisis,NaN,fiction,comic,257,NaN,0.0,0,Crisis,2
167,Jim Corbett Omnibus,"Corbett, Jim",nonfiction,history,223,NaN,1.0,0,Omnibus,3
169,Batatyachi Chal,Deshpande P L,fiction,novel,200,NaN,0.0,0,Chal,2
175,Think Complexity,"Downey, Allen",tech,data_science,230,NaN,2.0,0,Complexity,2
210,"Christmas Carol, A","Dickens, Charles",fiction,classic,196,NaN,2.0,0,A,3